body.eliminatorSlajdow {
  div.eliminatorSlajdowSpinner {
    text-align: center;
    img {
      padding: 100px;
    }
  }

  div.imageContainerEliminatorSlajdow.scroll {
    display: inline-block;
    max-height: 1500px;
    margin: 0 -25px 0 0;
    overflow-y: scroll;
    padding: 0 8px 0 0;
  }

  div.imageContainerEliminatorSlajdow.noScroll {
    float: left;
    width: 100%;
  }

  div.imageContainerEliminatorSlajdow {
    p.slideTitle {
      padding: 20px;
      font-size: 20px;
    }

    div.slideHeader {
      float: left;
      width: 100%;
      line-height: 16px;
      margin-bottom: 10px;
    }

    span.directLink a:hover {
      background: none;
    }

    div.slideHeader {
      p.headerLogo {
        margin-top: 1px;
        float: right;
        font-size: 8px;
        cursor: pointer;
        background: url('facebook_icon.svg') no-repeat 0 1px;
        background-size: 10px;
        padding: 0 0 0 12px;
        line-height: 14px;
      }

      p.headerBar {
        font-size: 11px;
        background: #999;
        padding: 1px 10px 3px 10px;
        border-radius: 42px;
        height: 14px;
        color: white;
        margin: 0;
        font-family: Arial;
      }

      span.esLogo {
        width: 16px;
        height: 16px;
        float: right;
      }

      span {
        font-family: Arial;
        font-size: 11px;
      }

      span.scrollSwitch {
        cursor: pointer;
        float: right;
        margin-right: 10px;
        color: white
      }
      span.headerSeparator {
        color: white;
        float: right;
        margin-right: 5px;
      }

      span.bugreport {
        color: white;
        cursor: pointer;
        float: right;
        margin-right: 5px;
      }

      span.directLink {
        cursor: pointer;
        float: right;
        margin-right: 5px;
        color: white;
        height: 16px;        
        a {
          color: white;
          text-decoration: none;
          height: 14px;
          font: 11px Arial;
          line-height: 16px;
        }
      }
    }
  }
}