# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# IDEs and editors
/.idea

# Created by https://www.gitignore.io/api/visualstudiocode
# Edit at https://www.gitignore.io/?templates=visualstudiocode

### VisualStudioCode ###
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

### VisualStudioCode Patch ###
# Ignore all local history of files
.history

# End of https://www.gitignore.io/api/visualstudiocode

.DS_Store
*.iml
test.js
node_modules
package/*
.sass-cache/
npm-debug.log
firefox/eliminator-slajdow.xpi
secrets.txt
firefox/web-ext-artifacts/*
dist/*
userscript/*

package-lock.json
yarn.lock
