body, h3 {
  font-family: Geneva, sans-serif;
  font-size: 13px;
  color: #343434;
  width: 100%;
  margin: 0; }

a {
  color: #1e5799; }

.statusPanel {
  margin-bottom: 15px; }

#options {
  padding: 5px; }
  #options.chrome {
    margin: 0 20%; }
  #options h3 {
    font-weight: 100;
    margin-top: 35px;
    margin-bottom: 15px;
    line-height: 35px;
    text-decoration: none;
    color: #343434;
    border-bottom: 0.8px #959595 solid; }
  #options h3.domains {
    margin-top: 0; }
  #options .domainListWrapper {
    maring: 0; }
  #options .label {
    display: inline;
    line-height: 28px; }
  #options .waning {
    color: red; }
  #options .extensionStatusMessage.label {
    float: left;
    text-align: left;
    line-height: 18px; }
  #options .extensionInfo {
    float: left; }
  #options #enableTracking {
    margin-top: 37px; }
  #options #domainList {
    float: left;
    width: 100%;
    list-style-type: none;
    padding: 0; }
    #options #domainList li:nth-child(odd) {
      background: #f6f6f6; }
    #options #domainList span {
      margin-top: -4px;
      float: right; }
    #options #domainList span button {
      margin-bottom: 3px; }
    #options #domainList .disabled {
      color: red; }
    #options #domainList .ui-selecting {
      background: #FECA40; }
    #options #domainList .ui-selected {
      background: #F39814;
      color: white; }
    #options #domainList li {
      margin: 3px;
      padding: 0.4em;
      font-size: 12px;
      height: 15px; }
