body, html {
  margin: 0; }

.bg-container {
  width: 50px; }

button {
  cursor: pointer;
  border: 0;
  float: left;
  width: 50px;
  height: 50px;
  outline: none; }

#options {
  background: url(../popup/ic_settings_black_48px.svg) no-repeat center;
  background-size: 20px; }
  #options:hover {
    background-color: #dedede; }

#tempDisable {
  background: url(../popup/ic_pause_circle_outline_black_48px.svg) no-repeat center;
  background-size: 20px; }
  #tempDisable:hover {
    background-color: #dedede; }

#disable {
  background: url(../popup/ic_power_settings_new_black_48px.svg) no-repeat center;
  background-size: 20px; }
  #disable:hover {
    background-color: #dedede; }

#disable.button-status-1 {
  background: url(../popup/ic_power_settings_new_black_48px.svg) #ffbeb0 no-repeat center;
  background-size: 20px; }
