body {
    font-family: Verdana, Geneva, sans-serif;
    font-size: 14px
}

a {
    color: #1e5799
}

#options {
    width: 100%;
}

#options h3 {
    background-color: #99000d;
    padding: 2px 10px;
    margin-top: 35px;
    border-radius: 5px;
    text-decoration: none;
    color: #ffffff
}

#options h3.domains {
    margin-top: 0
}

#options .label {
    display: inline;
    line-height: 28px
}

#options .switch {
    float: right;
    margin-right: 5px;
    margin-top: 10px
}

#options .waning {
    color: red;
    float: left;
}

#options .extensionStatusMessage.label {
    width: 300px;
    float: left;
    text-align: left;
    line-height: 18px
}

#options .extensionInfo {
    float: left;
    width: 100%;
}

#options #enableTracking {
    margin-top: 37px
}

#options #domainList {
    list-style-type: none;
    margin: 0;
    float: left;
    padding: 0;
    width: 100%;
    margin-bottom: 20px
}

#domainList a.url {
    width: 100%;
    float: left;
}

#options #domainList li:nth-child(odd) {
    background: #ccc
}

#options #domainList li:nth-child(even) {
    background: #f6f6f6
}

#options #domainList span {
    float: right;
    margin-top: -4px
}

#options #domainList span button {
    margin-bottom: 3px
}

#options #domainList .disabled {
    color: red
}

#options #domainList .ui-selecting {
    background: #FECA40
}

#options #domainList .ui-selected {
    background: #F39814;
    color: white
}

#options #domainList li {
    margin: 3px;
    padding: 0.4em;
    font-size: 12px;
    height: 15px;
    border-radius: 5px
}
