<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Author</key>
	<string>Paweł Raszewski</string>
	<key>Builder Version</key>
	<string>10600.1.25.1</string>
	<key>CFBundleDisplayName</key>
	<string>Elliminator Slajdów</string>
	<key>CFBundleIdentifier</key>
	<string>info.raszewski.eliminator-slajdow</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleShortVersionString</key>
	<string>3.1.46</string>
	<key>CFBundleVersion</key>
	<string>3.1.46</string>
	<key>Chrome</key>
	<dict>
		<key>Popovers</key>
		<array>
			<dict>
				<key>Filename</key>
				<string>popover.html</string>
				<key>Height</key>
				<real>500</real>
				<key>Identifier</key>
				<string>es-popover</string>
				<key>Width</key>
				<real>500</real>
			</dict>
		</array>
		<key>Toolbar Items</key>
		<array>
			<dict>
				<key>Command</key>
				<string></string>
				<key>Identifier</key>
				<string>es-icon</string>
				<key>Image</key>
				<string>icon.png</string>
				<key>Include By Default</key>
				<true/>
				<key>Label</key>
				<string>Eliminator Slajdów</string>
				<key>Palette Label</key>
				<string></string>
				<key>Popover</key>
				<string>es-popover</string>
				<key>Tool Tip</key>
				<string>Eliminator Slajdów</string>
			</dict>
		</array>
	</dict>
	<key>Content</key>
	<dict>
		<key>Scripts</key>
		<dict>
			<key>End</key>
			<array>
				<string>es.safari.js</string>
			</array>
		</dict>
		<key>Stylesheets</key>
		<array>
			<string>es.css</string>
		</array>
	</dict>
	<key>Description</key>
	<string>ES eliminuje slajdy na większości polskich portali</string>
	<key>DeveloperIdentifier</key>
	<string>6K4U9C52E5</string>
	<key>ExtensionInfoDictionaryVersion</key>
	<string>1.0</string>
	<key>Permissions</key>
	<dict>
		<key>Website Access</key>
		<dict>
			<key>Allowed Domains</key>
			<array>
				<string>*.autotrader.pl</string>
				<string>*.avanti24.pl</string>
				<string>*.groszki.pl</string>
				<string>*.ugotuj.to</string>
				<string>*.gazeta.pl</string>
				<string>*.tokfm.pl</string>
				<string>*.gazetapraca.pl</string>
				<string>*.demotywatory.pl</string>
				<string>*.moto.pl</string>
				<string>*.plotek.pl</string>
				<string>*.deser.pl</string>
				<string>*.sport.pl</string>
				<string>*.wyborcza.pl</string>
				<string>*.gazetadom.pl</string>
				<string>*.logo24.pl</string>
				<string>*.wyborcza.biz</string>
				<string>*.lula.pl</string>
				<string>*.tuba.pl</string>
				<string>*.edziecko.pl</string>
				<string>*.czterykaty.pl</string>
				<string>*.alert24.pl</string>
				<string>*.kotek.pl</string>
				<string>*.polygamia.pl</string>
				<string>*.popcorner.pl</string>
				<string>*.wysokieobcasy.pl</string>
				<string>*.e-ogrody.pl</string>
				<string>*.ladnydom.pl</string>
				<string>*.bryla.gazetadom.pl</string>
				<string>*.metropraca.pl</string>
				<string>*.pracawbiurze.pl</string>
				<string>*.zczuba.pl</string>
				<string>*.ciacha.net</string>
				<string>*.namonciaku.pl</string>
				<string>*.magazyn-kuchnia.pl</string>
				<string>*.swiatmotocykli.pl</string>
				<string>*.domosfera.pl</string>
				<string>*.bryla.pl</string>
				<string>*.domiwnetrze.pl</string>
				<string>*.onet.pl</string>
				<string>*.gazetalubuska.pl</string>
				<string>*.dziennikwschodni.pl</string>
				<string>*.echodnia.eu</string>
				<string>*.pomorska.pl</string>
				<string>*.wspolczesna.pl</string>
				<string>*.gk24.pl</string>
				<string>*.gp24.pl</string>
				<string>*.gs24.pl</string>
				<string>*.poranny.pl</string>
				<string>*.nowiny24.pl</string>
				<string>*.nto.pl</string>
				<string>*.to.com.pl</string>
				<string>*.mmbydgoszcz.pl</string>
				<string>*.mmwroclaw.pl</string>
				<string>*.mmkrakow.pl</string>
				<string>*.mmlodz.pl</string>
				<string>*.mmlublin.pl</string>
				<string>*.mmpoznan.pl</string>
				<string>*.mmsilesia.pl</string>
				<string>*.mmszczecin.pl</string>
				<string>*.mmtrojmiasto.pl</string>
				<string>*.mmwarszawa.pl</string>
				<string>*.mmmojemiasto.pl</string>
				<string>*.mmopole.pl</string>
				<string>*.mmzielonagora.pl</string>
				<string>*.foch.pl</string>
				<string>*.edulandia.pl</string>
				<string>*.wp.pl</string>
				<string>*.kwejk.pl</string>
				<string>*.gazetawroclawska.pl</string>
				<string>*.polskatimes.pl</string>
				<string>*.dziennikbaltycki.pl</string>
				<string>*.dzienniklodzki.pl</string>
				<string>*.dziennikpolski24.pl</string>
				<string>*.dziennikzachodni.pl</string>
				<string>*.expressilustrowany.pl</string>
				<string>*.gazetakrakowska.pl</string>
				<string>*.gloswielkopolski.pl</string>
				<string>*.kurierlubelski.pl</string>
				<string>*.fakt.pl</string>
				<string>*.naszemiasto.pl</string>
				<string>*.wawalove.pl</string>
				<string>www.se.pl</string>
				<string>*.sfora.pl</string>
				<string>*.biztok.pl</string>
				<string>*.komputerswiat.pl</string>
				<string>*.dziennik.pl</string>
				<string>*.jegostrona.pl</string>
				<string>*.forsal.pl</string>
				<string>*.wprzerwie.pl</string>
				<string>*.przegladsportowy.pl</string>
				<string>*.auto-swiat.pl</string>
				<string>*.sportowefakty.pl</string>
				<string>*.motokiller.pl</string>
				<string>*.bebzol.com</string>
				<string>*.lovekrakow.pl</string>
				<string>*.pudelekx.pl</string>
				<string>*.urzadzamy.pl</string>
				<string>*.snobka.pl</string>
				<string>*.fly4free.pl</string>
				<string>*.gadzetomania.pl</string>
				<string>*.trojmiasto.pl</string>
				<string>*.regiomoto.pl</string>
				<string>*.sportfan.pl</string>
				<string>*.forbes.pl</string>
				<string>*.geekweek.pl</string>
				<string>*.eliminator-slajdow.herokuapp.com</string>
				<string>*.nocoty.pl</string>
				<string>*.domiporta.pl</string>
				<string>*.newsweek.pl</string>
			</array>
			<key>Level</key>
			<string>Some</string>
		</dict>
	</dict>
	<key>Update Manifest URL</key>
	<string>http://eliminator-slajdow.herokuapp.com/assets/safari/update.plist</string>
	<key>Website</key>
	<string>http://eliminator-slajdow.herokuapp.com?ref=safari-ext</string>
</dict>
</plist>
