<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Author</key>
	<string>Paweł Raszewski</string>
	<key>Builder Version</key>
	<string>9537.78.2</string>
	<key>CFBundleDisplayName</key>
	<string>Elliminator Slajdów</string>
	<key>CFBundleIdentifier</key>
	<string>info.raszewski.eliminator-slajdow</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>Chrome</key>
	<dict>
		<key>Popovers</key>
		<array>
			<dict>
				<key>Filename</key>
				<string>popover.html</string>
				<key>Height</key>
				<real>500</real>
				<key>Identifier</key>
				<string>es-popover</string>
				<key>Width</key>
				<real>500</real>
			</dict>
		</array>
		<key>Toolbar Items</key>
		<array>
			<dict>
				<key>Command</key>
				<string></string>
				<key>Identifier</key>
				<string>es-icon</string>
				<key>Image</key>
				<string>icon.png</string>
				<key>Include By Default</key>
				<true/>
				<key>Label</key>
				<string>Eliminator Slajdów</string>
				<key>Palette Label</key>
				<string></string>
				<key>Popover</key>
				<string>es-popover</string>
				<key>Tool Tip</key>
				<string>Eliminator Slajdów</string>
			</dict>
		</array>
	</dict>
	<key>Content</key>
	<dict>
		<key>Scripts</key>
		<dict>
			<key>End</key>
			<array>
				<string>contentscript.js</string>
			</array>
		</dict>
	</dict>
	<key>Description</key>
	<string>ES eliminuje slajdy na większości polskich portali</string>
	<key>ExtensionInfoDictionaryVersion</key>
	<string>1.0</string>
	<key>Permissions</key>
	<dict>
		<key>Website Access</key>
		<dict>
			<key>Allowed Domains</key>
			<array>
				<string>*.gazeta.pl</string>
				<string>*.kwejk.pl</string>
			</array>
			<key>Level</key>
			<string>Some</string>
		</dict>
	</dict>
	<key>Website</key>
	<string>http://eliminator-slajdow.herokuapp.com?ref=safari-ext</string>
</dict>
</plist>
